body{
    background: rgb(248, 237, 181);
     font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
    font-size: 90px;
    color: rgb(122, 68, 5);
    margin-bottom: 10px;
    text-align: center;
}
img.one,img.two,img.three{
margin-bottom: -20px;
}
h2 {
    font-size:70px;
	background-color: rgb(122, 68, 5);
    padding: 5px 20px;
    margin-bottom: 20px;
    display: inline-block;
    color: rgb(248, 237, 181);
   text-align: center;
}
h3{
    font-size: 40px;
    Background-color:rgb(210, 147, 39);
    padding: 5px 20px;
    display: block;
    color:rgb(248, 237, 181);
}
h4{
    font-size: 40px;
    Background-color:rgb(199, 147, 39);
    padding: 5px 20px;
    display: block;
    color:rgb(248, 237, 181);
}
p.one{
    font-size: 20px;
    color:rgb(82, 114, 57);
}
hr{
    border: none;
    border-top: 5px dashed rgb(122,68,5);
    margin-top: -10px 0 20px
}
p.two{
    font-size: 23px;
    color: rgb(160, 25, 25);
}
p.three{
    font-size: 30px;
    color:rgb(160, 25, 25);
    border: 5px dotted #c52b2bfe;
    width: 350px;
}
ul{
    font-size: 25px;
    color:rgb(82, 114, 57);
}
ol{
    font-size: 25px;
    color:rgb(82, 114, 57);
    padding: 5px 20px;
    margin-top: -5px;
    border: 5px dotted #1f6313;
    display: inline-block;
    padding: 12px 20px 12px 40px;
    text-align: center;
}